.header {
  display: flex;
  background-color: #242a37;
  box-shadow: 0px 4px 4px rgba(36, 42, 55, 0.1);
  padding: 2% 10%;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 767px) {
  .header {
    height: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
  }
}
