.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.622);
    width: 100vw;
    height: 100vh;
}

.loader {
    z-index: 1200;
    color: rgb(122, 76, 166);
}