.challengeContainer {
  display: flex;
  padding: 21px;
  flex-direction: column;
  width: 199px;
  height: 205px;
  align-items: center;
  background: #15395a;
  border-radius: 10px;
  position: relative;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.1);
}
.cardContainer {
  display: flex;
  padding: 21px;
  flex-direction: column;
  width: 199px;
  height: 205px;
  align-items: center;
  background: white;
  border-radius: 10px;
  position: relative;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.1);
}
.difficultyContainer {
  display: flex;
  flex-direction: row;
  width: inherit;
  padding: 0 21px;
  justify-content: space-between;
  align-items: center;
}
.Easy {
  height: 8px;
  width: 8px;
  background-color: #00d7ff;
  border-radius: 50%;
  margin-right: 7px;
}
.Normal {
  height: 8px;
  width: 8px;
  background-color: #24d40c;
  border-radius: 50%;
  margin-right: 7px;
}
.Hard {
  height: 8px;
  width: 8px;
  background-color: #db0837;
  border-radius: 50%;
  margin-right: 7px;
}
.difficultyLevel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.levelName {
  font-size: 14px;
  color: #b9c3c8;
  letter-spacing: 2%;
  margin: 0;
  padding: 0;
}
.trophyIcon {
  background-image: url(../../Images/trophy_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
}
.trophyIcon:hover {
  box-shadow: rgba(0, 215, 255, 0.25);
}
.starIcon {
  background-image: url(../../Images/star_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: transparent;
}
.starIcon:hover {
  box-shadow: rgba(0, 215, 255, 0.25);
}

.titleContainer {
  text-align: center;
}

.isChallenge {
  font-size: 12px;
  color: rgba(185, 195, 200, 1);
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2%;
  font-weight: 400;
}
.chalengeName {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  border: 0px;
}
.taskName {
  width: 90%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  margin-top: 42px;
  color: black;
  font-size: 16px;
  border: 0px;
}
.Stuff {
  background-color: #b9c3c8;
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.Family {
  background-color: rgba(255, 230, 211, 1);
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.Health {
  background-color: rgba(205, 247, 255, 1);
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.Learning {
  background-color: rgba(255, 246, 192, 1);
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.Leisure {
  background-color: rgba(248, 210, 255, 1);
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.Work {
  background-color: rgba(211, 246, 206, 1);
  width: 88px;
  height: 25px;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  padding-left: 21px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  position: absolute;
  bottom: 21px;
  left: 0;
  color: rgba(40, 40, 40, 1);
}
.date {
  color: rgba(185, 195, 200, 1);
  margin: 0;
  border: 0px;
}
.difficultyDropdown {
  width: 90px;
  height: 80px;
  position: absolute;
  top: -10%;
  left: 0;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
  padding-top: 14px;
  border-radius: 10px;
}
.btnContainer {
  display: flex;
  margin-top: 29px;
  gap: 5px;
}
.completBtn {
  padding: 3px;
  font-size: 10px;
  background-color: wheat;
}
.deleteBtn {
  padding: 3px;
  font-size: 10px;
  background-color: rebeccapurple;
}
.submitBtn {
  padding: 3px;
  font-size: 10px;
  background-color: darkcyan;
}
