.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #00d7ff;
}

.navWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  margin-right: 10px;
}

.avatarImg {
  border-radius: 50%;
  width: 30px;
}

.btn {
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .userName {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    font-size: 21px;
    line-height: 21px;
    /* identical to box height */
  }

  .userMenu {
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #7b8aa4;
    width: 179px;
    position: absolute;
    left: 294px;
  }

  .challengeIcon {
    margin-right: 38px;
  }
}

@media screen and (min-width: 1280px) {
  .userMenu {
    left: 550px;
  }
}
