.navBar_container {
  display: flex;
  position: sticky;
  width: 100vw;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #00d7ff;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #ffffff;
}

.navWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-around;
}

.trophyIcon {
  width: 30px;
  height: 30px;
  margin-right: 38px;
}

.challengeIcon {
  margin-right: 38px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 215, 255, 1);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0, 215, 255, 1);
  box-shadow: 0px 0px 9px -1px rgba(0, 215, 255, 1);
}

.userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  width: 30px;
  height: 30px;
}

.avatarImg {
  border-radius: 50%;
  width: 30px;
}
.trophyBg {
  margin-right: 10px;
  margin-left: 10px;
}
.btn {
  background-color: transparent;
  padding: 0;
}
.logoutIcon {
  width: 21.58px;
  height: 16.05px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.logoutIcon:hover {
  scale: 150%;
}

@media screen and (max-width: 480px) {
  .userName {
    display: none;
  }

  .trophyIcon {
    margin-right: 10px;
    margin-left: 10px;
  }

  .challengeIcon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 481px) {
  .userMenu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 766px) {
  .userName {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    font-size: 21px;
    line-height: 21px;
  }

  .userName {
    margin-left: 10px;
  }

  .userMenu {
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #7b8aa4;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .trophyBg {
    margin-right: 20px;
  }
  .logo {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
}
