.sectionCards{
   background-color: rgba(242, 243, 247, 1);
   color: black;
}
.cardList{
   display: flex;
   gap: 28px;
   margin: 0;
   padding: 0;
}
.cardsListItem{
   margin: 0 auto ;
}
.clockContainer{
   display: flex;
   gap: 15px;
}
.todaylist{
   padding: 15px;
   font-size: 15px;
   font-weight: 300;
   color: rgba(40, 40, 40, 1);
}
.tomorrowList{
   padding: 15px;
   font-size: 15px;
   font-weight: 300;
   color: rgba(40, 40, 40, 1);
}