.input {
    width: 200px;
    margin-bottom: 10px;
}

.container {
    padding: 20px 0;
    width: 200px;
}

.paragraph {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
}

.buttonGo {
    background-color: #FF851C;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    padding: 0;
    font-family: 'HelveticaNeueCyr';
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    box-shadow: 0px 5px 20px rgba(238, 107, 7, 0.6);
}

.buttonGo:hover {
    left: 120%;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}